# Binary 
*.exe
*.exe~
*.dll
*.so
*.dylib

# Cache and logs
*.test
*.out
*.log

# Compiled cache from build 
bin/
build/
dist/

# Go workspace / module files
*.swp
.idea/
.vscode/

# Go vendor
vendor/

.env
.envrc
